---
layout: splash
title: "About me"
permalink: about/
classes:
    - prueba
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: /assets/images/hacker.jpg
    cta_label: "Download CV"
    cta_url: "https://anintelligentfool.github.io/assets/CV - Pablo Esquerdo.pdf"
excerpt: "The story from a guy who started with a complex “Hello world” in Spain and finished working as a simple Software developer in the Netherlands crossing United Kingdom in between."
intro: 
  - excerpt: 'A brief summary about myself… Professional singer in the shower, food and tapas lover and traveller addict. 
  If you are interested more in my professional skills or my core skills you will be able to download in this page my CV and read words such as Python or C#. 
  I would say I am not the stereotype of a software developer, do not expect me to be afraid of asking questions or be shy. 
  If after seeing my page you are interested to contact me, do not hesitate to drop me a message on Linkedin. '
feature_row:
  - image_path:  /assets/images/graduated2.jpg   
    alt: "Graduated"
    title: "Hello World"
    excerpt: "Me after finishing my degree, look how professional I look."
  - image_path: /assets/images/hackathon2.JPG
    alt: "Hackathon"
    title: "Speeching"
    excerpt: "I enjoy attending hackathons or competitions and solving world problems."
  - image_path: /assets/images/beer2.jpg
    title: "Beer"
    excerpt: "Give me one of those and ask about my projects, you will not regret it."
feature_row2:
  - image_path: /assets/images/curriculum.jpg
    alt: "placeholder image 2"
    title: "But, why should we hire you?"
    excerpt: 'If you want to check my professional skills and my professional career, here you will have a PDF that will be really happy to explain them to you, however, if you want an answer for that question, you will need to contact me.'
    url: "https://anintelligentfool.github.io/assets/CV - Pablo Esquerdo.pdf"
    btn_label: "Download CV"
    btn_class: "btn--primary"
---
  
  {% include feature_row id="intro" type="center" %}
  
  {% include feature_row %}
  
  {% include feature_row id="feature_row2" type="left" %}
  

